cairocffi~=0.9.0
cffi~=1.17.1
dxfgrabber~=1.0.1
ezdxf~=1.4.0
flexcache~=0.3
flexparser~=0.4
fonttools~=4.56.0
numpy~=2.2.3
pcb-tools~=0.1.6
pcb-tools-extension~=0.9.3
pillow~=11.1.0
Pint~=0.24.4
platformdirs~=4.3.6
pycparser~=2.22
pyparsing~=3.2.1
typing_extensions~=4.12.2